.root {
  width: 100%;
  padding: 1em;
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recordingInfo {
  margin-right: 1em;
  // flex: 1;
}

.card {
  padding: 0.5em 1em;
}

.infoWrapper {
  display: flex;
  align-items: center;
}

.infoWrapper div {
  margin-right: 1em;
}

.time {
  color: #777;
}
